# Data files:
*.csv*
*.gz*
*.parquet
data

# Python files:
*.ipynb_checkpoints
__pycache__

# Terraform files:
.terraform/
.terraform.*
terraform.tfstate*

# Prefect files:
.prefectignore
*-deployment.yaml