# Data files:
*.csv*
*.gz*
*.parquet
data
*_tripdata

# Python files:
*.ipynb_checkpoints
__pycache__

# Terraform files:
.terraform/
.terraform.*
terraform.tfstate*

# Prefect files:
.prefectignore
*-deployment.yaml

# dbt files:
**/dbt/logs
**/dbt/*/logs
**/dbt/target
**/dbt/*/target
**/dbt/dbt_modules
**/dbt/*/dbt_modules
**/dbt/dbt_packages
**/dbt/*/dbt_packages
**/dbt/*/.user*
# Include dbt seed files which are CSVs:
!**/dbt/*/seeds/*.csv

# DuckDB database files:
*.duckdb
*.duckdb.*
